/*@media only screen and (max-width:576px){
    .name{
        margin-left: 34px;
        input{
            width: 87%;
        }
    }
    .email{
        margin-left: 34px;
        input{
            width: 87%;
        }
    }
    .textarea{
        margin-left: 20px;
        
    }
    .containers{
        width: 88%;
    }
}*/