/*@media only screen and (max-width:576px){
    .Resume-container{
      width: 88%; 
       
    }
    .skill{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2px;
        row-gap: 20px;
    }


}*/
.skill{
  display:grid;
  grid-template-columns: repeat(7,1fr);
  row-gap: 20px;
  place-items: center;
}