/* Media query for mobile screens */
@media only screen and (max-width: 768px) {
    .containers {
        width: 100%;
        margin: 0;
        padding: 15px;
        border-radius: 0;
        box-shadow: none;
        
    }

    .images {
        margin-left: 10px;
        margin-top: 0;
    }

    .profile-image {
        width: 60px; /* Smaller profile image for mobile */
        height: 60px;
        margin-right: 10px;
    }

    .name {
        font-size: 20px; /* Smaller name font size for mobile */
    }

    .personal {
        margin-top:10px;
        margin-left: 10px;
        font-size: 12px; /* Smaller personal info font size for mobile */
    }

    .personal img {
        width: 30px; /* Smaller images for Email, Phone, Location */
        height: 30px;
    }

    .social {
        margin-left: 10px;
    }

    .social img {
        width: 20px; /* Smaller social media icons for mobile */
        height: 20px;
    }
}