/* Base styles */
.containers {
  width: auto;
  margin: 2rem;
  margin-top: 1.25rem;
  padding: 0.75rem;
  border-radius: 0.75rem;
}

.images {
  display: flex;
  margin-left: 5rem;
  margin-top: 2.5rem;
}

.profile-image {
  margin-right: 1rem;
}
.personal {
  margin-left: 5rem;
  margin-top: 1.25rem;
}

.social {
  margin-left: 5rem;
  margin-top: 1.25rem;
}

/* Media queries for mobile screens */
/*@media (max-width: 576px) {
  .containers {
    margin: 1rem;
    padding: 0.5rem;
  }

  .images {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 1rem;
  }

  .profile-image {
    margin-bottom: 1rem;
  }

  .name {
    margin-bottom: 1rem;
    font-size: small;
  }

  .personal,
  .social {
    margin-left: 0;
    margin-top: 1rem;
    text-align: center;
  }
}*/
/* Media query for mobile screens */
/*@media only screen and (max-width: 768px) {
    .containers {
        width: 90%; 
        margin: 0 auto;
        padding: 15px;
    }

    .images {
        margin-left: 10px;
        margin-top: 0;
        display: flex;
        align-items: center; 
    }

    .profile-image {
        width: 80px;
        height: 80px;
        margin-right: 15px; 
    }

    .name {
        font-size: 20px; 
    }

    .personal {
        margin-top: 20px;
        margin-left: 0; 
        font-size: 12px; 
    }

    .personal-info {
        display: flex;
        flex-direction: column;
        gap: 7px; 
    }

    .personal img {
        width: 30px; 
        height: 30px;
        margin-right: 10px;
    }

    .email, .phone, .location {
        display: flex;
        align-items: center; 
    }

    .social {
        margin-left: 10px;
    }

    .social img {
        width: 20px;
        height: 20px;
    }
}
*/