.nav.active{
    color:blueviolet;
    text-decoration: underline;
}
.navHead{
    width:"100%";
    padding-right: 90px;
    padding-left: 90px;
}
/*@media only screen and (max-width:375px){
    .navHead{
        border:none;
        box-shadow: none;
    }
    .navbar{
        position:relative;
        right: 55px;
        font-size: small;
    }
}
@media only screen and (max-width:414px){
    .navbar{
        
    }
}*/
@media only screen and (max-width: 600px) {
  .navHead {
    width: 100%;
    margin: 0;
    padding: 10px;
    border-width: 1px;
    position: relative;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    space-y: 2;
    font-size: 1rem;
  }

  .navbar .nav {
    margin: 5px 0;
  }
}