.nav.active{
    color:blueviolet;
    text-decoration: underline;
}
.navHead{
    width:"100%";
    padding-right: 90px;
    padding-left: 90px;
    position: absolute;
    top:575px;
    bottom:10px;
}
/*@media only screen and (max-width:576px){
    .navHead{
        width: 88%;
        background-color: gray;
    }
}*/