@media only screen and (max-width:375px){
    .project{
        width: 87%;
    }
    .subnav{
        margin-left: 12px;
        font-size: small;
    }
    .all{
        width: 87%;
    }
    .items{
        gap: 10px;
        flex-direction: column;
        width: 870px;
        position: relative;
        right: 320px;
        
    }
    .item{
        font-size: small;
        padding-left: 10px;
        img{
            width: 100%;
            height: 100vh;
        }
    }
}
@media only screen and (max-width:414px){
    .project{
        width: 505px;
    }
    .all{
        width: 505px;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 0px;
    }
}