@media only screen and (max-width:375px){
    .About-container{
        width:"87%"
    }
    .intro{
        margin-left: 10px;
    }
    .horizontal{
        display: none;
    }
}
@media only screen and (max-width:414px){
    .About-container{
        width:505px;
    }
    .horizontal{
        display:  none;
    }
}